# DESAFIO 2. Datos de Billboard

## Paso 1. Explorar los datos

Cargá el dataset usando Pandas y comenzá a explorar los datos. Guardá en este espacio todos los procesos y análisis exploratorios que hayas hecho, tanto los preliminares como los definitivos. Por favor, indicá cuál(es) es(son) cada uno(s).

In [1]:
import numpy as np
import pandas as pd

data = pd.read_csv('./billboard.csv', encoding='latin8')

Escribí un breve descripción de los datos. Hacé particular énfasis en los hallazagos que te parezcan relevantes hasta este punto.

In [2]:
print(data.info())
print(data.head)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 317 entries, 0 to 316
Data columns (total 83 columns):
year               317 non-null int64
artist.inverted    317 non-null object
track              317 non-null object
time               317 non-null object
genre              317 non-null object
date.entered       317 non-null object
date.peaked        317 non-null object
x1st.week          317 non-null int64
x2nd.week          312 non-null float64
x3rd.week          307 non-null float64
x4th.week          300 non-null float64
x5th.week          292 non-null float64
x6th.week          280 non-null float64
x7th.week          269 non-null float64
x8th.week          260 non-null float64
x9th.week          253 non-null float64
x10th.week         244 non-null float64
x11th.week         236 non-null float64
x12th.week         222 non-null float64
x13th.week         210 non-null float64
x14th.week         204 non-null float64
x15th.week         197 non-null float64
x16th.week         182 non-null float64
x17th.week         177 non-null float64
x18th.week         166 non-null float64
x19th.week         156 non-null float64
x20th.week         146 non-null float64
x21st.week         65 non-null float64
x22nd.week         55 non-null float64
x23rd.week         48 non-null float64
x24th.week         46 non-null float64
x25th.week         38 non-null float64
x26th.week         36 non-null float64
x27th.week         29 non-null float64
x28th.week         24 non-null float64
x29th.week         20 non-null float64
x30th.week         20 non-null float64
x31st.week         19 non-null float64
x32nd.week         18 non-null float64
x33rd.week         12 non-null float64
x34th.week         10 non-null float64
x35th.week         9 non-null float64
x36th.week         9 non-null float64
x37th.week         9 non-null float64
x38th.week         8 non-null float64
x39th.week         8 non-null float64
x40th.week         7 non-null float64
x41st.week         7 non-null float64
x42nd.week         6 non-null float64
x43rd.week         6 non-null float64
x44th.week         6 non-null float64
x45th.week         5 non-null float64
x46th.week         5 non-null float64
x47th.week         5 non-null float64
x48th.week         4 non-null float64
x49th.week         4 non-null float64
x50th.week         4 non-null float64
x51st.week         4 non-null float64
x52nd.week         4 non-null float64
x53rd.week         4 non-null float64
x54th.week         2 non-null float64
x55th.week         2 non-null float64
x56th.week         2 non-null float64
x57th.week         2 non-null float64
x58th.week         2 non-null float64
x59th.week         2 non-null float64
x60th.week         2 non-null float64
x61st.week         2 non-null float64
x62nd.week         2 non-null float64
x63rd.week         2 non-null float64
x64th.week         2 non-null float64
x65th.week         1 non-null float64
x66th.week         0 non-null float64
x67th.week         0 non-null float64
x68th.week         0 non-null float64
x69th.week         0 non-null float64
x70th.week         0 non-null float64
x71st.week         0 non-null float64
x72nd.week         0 non-null float64
x73rd.week         0 non-null float64
x74th.week         0 non-null float64
x75th.week         0 non-null float64
x76th.week         0 non-null float64
dtypes: float64(75), int64(2), object(6)
memory usage: 205.6+ KB
None
<bound method NDFrame.head of      year      artist.inverted  \
0    2000      Destiny's Child
1    2000              Santana
2    2000        Savage Garden
3    2000              Madonna
4    2000  Aguilera, Christina
5    2000                Janet
6    2000      Destiny's Child
7    2000    Iglesias, Enrique
8    2000                Sisqo
9    2000             Lonestar
10   2000               N'Sync
11   2000  Aguilera, Christina
12   2000     Vertical Horizon
13   2000                Creed
14   2000              Aaliyah
15   2000      matchbox twenty
16   2000        Carey, Mariah
17   2000          Hill, Faith
18   2000                  Mya
19   2000                Dream
20   2000        Braxton, Toni
21   2000        Anthony, Marc
22   2000                  98Ḃ
23   2000      Destiny's Child
24   2000         3 Doors Down
25   2000                Sisqo
26   2000  Aguilera, Christina
27   2000     Houston, Whitney
28   2000                  Joe
29   2000      Jordan, Montell
..    ...                  ...
287  2000              2Ge+her
288  2000       Madison Avenue
289  2000                  Eve
290  2000          Limp Bizkit
291  2000      Spencer, Tracie
292  2000            Nu Flavor
293  2000                Tamar
294  2000       Levert, Gerald
295  2000           Hart, Beth
296  2000          Diffie, Joe
297  2000      Funkmaster Flex
298  2000         Price, Kelly
299  2000             En Vogue
300  2000          Herndon, Ty
301  2000            Anastacia
302  2000                Trina
303  2000              Lil' Mo
304  2000              A*Teens
305  2000        Sheist, Shade
306  2000           De La Soul
307  2000       Larrieux, Amel
308  2000        Braxton, Toni
309  2000              Tuesday
310  2000            LL Cool J
311  2000             Master P
312  2000     Ghostface Killah
313  2000          Smith, Will
314  2000        Zombie Nation
315  2000       Eastsidaz, The
316  2000               Fragma

                                                 track  time        genre  \
0                             Independent Women Part I  3:38         Rock
1                                         Maria, Maria  4:18         Rock
2                                   I Knew I Loved You  4:07         Rock
3                                                Music  3:45         Rock
4                Come On Over Baby (All I Want Is You)  3:38         Rock
5                                Doesn't Really Matter  4:17         Rock
6                                          Say My Name  4:31         Rock
7                                          Be With You  3:36        Latin
8                                           Incomplete  3:52         Rock
9                                               Amazed  4:25      Country
10                                    It's Gonna Be Me  3:10         Rock
11                                   What A Girl Wants  3:18         Rock
12                                 Everything You Want  4:01         Rock
13                                 With Arms Wide Open  3:52         Rock
14                                           Try Again  4:03         Rock
15                                                Bent  4:12         Rock
16                               Thank God I Found You  4:14         Rock
17                                             Breathe  4:04          Rap
18                   Case Of The Ex (Whatcha Gonna Do)  3:50         Rock
19                                      He Loves U Not  3:43         Rock
20                                He Wasn't Man Enough  4:21         Rock
21                                      You Sang To Me  3:50        Latin
22                  Give Me Just One Night (Una Noche)  3:24         Rock
23                                     Jumpin' Jumpin'  3:48         Rock
24                                          Kryptonite  3:53         Rock
25                                          Thong Song  4:05         Rock
26                                       I Turn To You  4:00         Rock
27                                My Love Is Your Love  4:16         Rock
28                                        I Wanna Know  4:57         Rock
29                                  Get It On.. Tonite  4:34          Rap
..                                                 ...   ...          ...
287  The Hardest Part Of Breaking Up (Is Getting Ba...  3:15          R&B
288                                 Don't Call Me Baby  3:44  Electronica
289                                         Got It All  3:48          Rap
290                                        Re-Arranged  4:08         Rock
291                                  Still In My Heart  4:11         Rock
292                                     3 Little Words  3:54          R&B
293                         If You Don't Wanna Love Me  4:02         Rock
294                                         Baby U Are  4:10          R&B
295                                          L.A. Song  3:47      Country
296                                  The Quittin' Kind  3:23      Country
297                                             Do You  4:14          Rap
298                                 Love Sets You Free  3:46         Rock
299                                             Riddle  5:10         Rock
300                                           No Mercy  4:43      Country
301                                     I'm Outta Love  4:01          Pop
302                                          Pull Over  2:58          Rap
303                                              Ta Da  4:17          Rap
304                                      Dancing Queen  3:44          Pop
305                                   Where I Wanna Be  4:16          Rap
306                                          All Good?  5:02          Rap
307                                             Get Up  4:02          R&B
308                                     Spanish Guitar  4:24         Rock
309                                             I Know  4:06         Rock
310                                       Imagine That  4:00          Rap
311                                            Souljas  3:33          Rap
312                                   Cherchez LaGhost  3:04          R&B
313                                        Freakin' It  3:58          Rap
314                                      Kernkraft 400  3:30         Rock
315                                           Got Beef  3:58          Rap
316                                     Toca's Miracle  3:22          R&B

    date.entered date.peaked  x1st.week  x2nd.week  x3rd.week     ...      \
0     2000-09-23  2000-11-18         78       63.0       49.0     ...
1     2000-02-12  2000-04-08         15        8.0        6.0     ...
2     1999-10-23  2000-01-29         71       48.0       43.0     ...
3     2000-08-12  2000-09-16         41       23.0       18.0     ...
4     2000-08-05  2000-10-14         57       47.0       45.0     ...
5     2000-06-17  2000-08-26         59       52.0       43.0     ...
6     1999-12-25  2000-03-18         83       83.0       44.0     ...
7     2000-04-01  2000-06-24         63       45.0       34.0     ...
8     2000-06-24  2000-08-12         77       66.0       61.0     ...
9     1999-06-05  2000-03-04         81       54.0       44.0     ...
10    2000-05-06  2000-07-29         82       70.0       51.0     ...
11    1999-11-27  2000-01-15         71       51.0       28.0     ...
12    2000-01-22  2000-07-15         70       61.0       53.0     ...
13    2000-05-13  2000-11-11         84       78.0       76.0     ...
14    2000-03-18  2000-06-17         59       53.0       38.0     ...
15    2000-04-29  2000-07-22         60       37.0       29.0     ...
16    1999-12-11  2000-02-19         82       68.0       50.0     ...
17    1999-11-06  2000-04-22         81       68.0       62.0     ...
18    2000-08-19  2000-12-02         72       57.0       52.0     ...
19    2000-09-30  2000-12-30         99       92.0       81.0     ...
20    2000-03-18  2000-05-06         63       55.0       48.0     ...
21    2000-02-26  2000-06-03         77       54.0       50.0     ...
22    2000-08-19  2000-09-30         51       39.0       34.0     ...
23    2000-05-13  2000-08-19         74       71.0       65.0     ...
24    2000-04-08  2000-11-11         81       70.0       68.0     ...
25    2000-01-29  2000-05-20         74       63.0       35.0     ...
26    2000-04-15  2000-07-01         50       39.0       30.0     ...
27    1999-09-04  2000-01-08         81       68.0       44.0     ...
28    2000-01-01  2000-07-01         94       86.0       69.0     ...
29    1999-10-23  2000-02-12         92       80.0       72.0     ...
..           ...         ...        ...        ...        ...     ...
287   2000-09-02  2000-09-09         91       87.0       92.0     ...
288   2000-07-08  2000-09-16         98       96.0       93.0     ...
289   2000-07-15  2000-07-22         89       88.0       88.0     ...
290   1999-12-04  2000-02-05         91       91.0       90.0     ...
291   2000-03-04  2000-03-11         95       88.0       98.0     ...
292   2000-06-03  2000-06-17         97       97.0       89.0     ...
293   2000-03-25  2000-04-15         98       98.0       92.0     ...
294   2000-08-19  2000-08-26         96       89.0       92.0     ...
295   1999-11-27  2000-01-15         99      100.0       98.0     ...
296   2000-01-01  2000-01-22         98      100.0      100.0     ...
297   2000-11-11  2000-12-02         92       92.0       95.0     ...
298   2000-05-13  2000-05-20         92       91.0       98.0     ...
299   2000-06-17  2000-06-17         92       92.0       97.0     ...
300   2000-03-18  2000-05-06        100       99.0       99.0     ...
301   2000-04-01  2000-04-01         92        NaN        NaN     ...
302   2000-09-09  2000-09-16         97       93.0       96.0     ...
303   2000-08-12  2000-09-16        100       99.0       97.0     ...
304   2000-07-08  2000-07-29         97       97.0       96.0     ...
305   2000-11-11  2000-11-18         96       95.0       99.0     ...
306   2000-12-23  2000-12-23         96       96.0      100.0     ...
307   2000-03-04  2000-03-11        100       97.0       97.0     ...
308   2000-12-02  2000-12-02         98       98.0       98.0     ...
309   2000-12-30  2000-12-30         98       98.0        NaN     ...
310   2000-08-12  2000-08-19         99       98.0        NaN     ...
311   2000-11-18  2000-11-18         98        NaN        NaN     ...
312   2000-08-05  2000-08-05         98        NaN        NaN     ...
313   2000-02-12  2000-02-12         99       99.0       99.0     ...
314   2000-09-02  2000-09-02         99       99.0        NaN     ...
315   2000-07-01  2000-07-01         99       99.0        NaN     ...
316   2000-10-28  2000-10-28         99        NaN        NaN     ...

     x67th.week  x68th.week  x69th.week  x70th.week  x71st.week  x72nd.week  \
0           NaN         NaN         NaN         NaN         NaN         NaN
1           NaN         NaN         NaN         NaN         NaN         NaN
2           NaN         NaN         NaN         NaN         NaN         NaN
3           NaN         NaN         NaN         NaN         NaN         NaN
4           NaN         NaN         NaN         NaN         NaN         NaN
5           NaN         NaN         NaN         NaN         NaN         NaN
6           NaN         NaN         NaN         NaN         NaN         NaN
7           NaN         NaN         NaN         NaN         NaN         NaN
8           NaN         NaN         NaN         NaN         NaN         NaN
9           NaN         NaN         NaN         NaN         NaN         NaN
10          NaN         NaN         NaN         NaN         NaN         NaN
11          NaN         NaN         NaN         NaN         NaN         NaN
12          NaN         NaN         NaN         NaN         NaN         NaN
13          NaN         NaN         NaN         NaN         NaN         NaN
14          NaN         NaN         NaN         NaN         NaN         NaN
15          NaN         NaN         NaN         NaN         NaN         NaN
16          NaN         NaN         NaN         NaN         NaN         NaN
17          NaN         NaN         NaN         NaN         NaN         NaN
18          NaN         NaN         NaN         NaN         NaN         NaN
19          NaN         NaN         NaN         NaN         NaN         NaN
20          NaN         NaN         NaN         NaN         NaN         NaN
21          NaN         NaN         NaN         NaN         NaN         NaN
22          NaN         NaN         NaN         NaN         NaN         NaN
23          NaN         NaN         NaN         NaN         NaN         NaN
24          NaN         NaN         NaN         NaN         NaN         NaN
25          NaN         NaN         NaN         NaN         NaN         NaN
26          NaN         NaN         NaN         NaN         NaN         NaN
27          NaN         NaN         NaN         NaN         NaN         NaN
28          NaN         NaN         NaN         NaN         NaN         NaN
29          NaN         NaN         NaN         NaN         NaN         NaN
..          ...         ...         ...         ...         ...         ...
287         NaN         NaN         NaN         NaN         NaN         NaN
288         NaN         NaN         NaN         NaN         NaN         NaN
289         NaN         NaN         NaN         NaN         NaN         NaN
290         NaN         NaN         NaN         NaN         NaN         NaN
291         NaN         NaN         NaN         NaN         NaN         NaN
292         NaN         NaN         NaN         NaN         NaN         NaN
293         NaN         NaN         NaN         NaN         NaN         NaN
294         NaN         NaN         NaN         NaN         NaN         NaN
295         NaN         NaN         NaN         NaN         NaN         NaN
296         NaN         NaN         NaN         NaN         NaN         NaN
297         NaN         NaN         NaN         NaN         NaN         NaN
298         NaN         NaN         NaN         NaN         NaN         NaN
299         NaN         NaN         NaN         NaN         NaN         NaN
300         NaN         NaN         NaN         NaN         NaN         NaN
301         NaN         NaN         NaN         NaN         NaN         NaN
302         NaN         NaN         NaN         NaN         NaN         NaN
303         NaN         NaN         NaN         NaN         NaN         NaN
304         NaN         NaN         NaN         NaN         NaN         NaN
305         NaN         NaN         NaN         NaN         NaN         NaN
306         NaN         NaN         NaN         NaN         NaN         NaN
307         NaN         NaN         NaN         NaN         NaN         NaN
308         NaN         NaN         NaN         NaN         NaN         NaN
309         NaN         NaN         NaN         NaN         NaN         NaN
310         NaN         NaN         NaN         NaN         NaN         NaN
311         NaN         NaN         NaN         NaN         NaN         NaN
312         NaN         NaN         NaN         NaN         NaN         NaN
313         NaN         NaN         NaN         NaN         NaN         NaN
314         NaN         NaN         NaN         NaN         NaN         NaN
315         NaN         NaN         NaN         NaN         NaN         NaN
316         NaN         NaN         NaN         NaN         NaN         NaN

     x73rd.week  x74th.week  x75th.week  x76th.week
0           NaN         NaN         NaN         NaN
1           NaN         NaN         NaN         NaN
2           NaN         NaN         NaN         NaN
3           NaN         NaN         NaN         NaN
4           NaN         NaN         NaN         NaN
5           NaN         NaN         NaN         NaN
6           NaN         NaN         NaN         NaN
7           NaN         NaN         NaN         NaN
8           NaN         NaN         NaN         NaN
9           NaN         NaN         NaN         NaN
10          NaN         NaN         NaN         NaN
11          NaN         NaN         NaN         NaN
12          NaN         NaN         NaN         NaN
13          NaN         NaN         NaN         NaN
14          NaN         NaN         NaN         NaN
15          NaN         NaN         NaN         NaN
16          NaN         NaN         NaN         NaN
17          NaN         NaN         NaN         NaN

## Paso 2. Limpieza de los datos

Empezá por una limpieza rudimentaria. Reformulá los nombres desprolijos de las variables para que tengan un criterio común, acortá los strings que sean muy largos, buscá datos missing y realizá una imputación (en caso de que te parezca que esto es necesario). En aquellos casos en que decidas que es necesario imputar, explicá cuál es el motivo y justificá la técnica que hayas utilizado para imputar.

Usando la función `melt()` de Pandas, reformateá el dataset para que tengan el formato "long" en lugar de "wide". Como resultado deberías haber removido la columna 72 'week' y la deberías haber reemplazado por dos: 'Week' y 'Ranking'. Ahora vas a tener múltiples entradas por canción: una por cada semana que haya estado en el ranking de Billboard.

In [10]:
data_melt = pd.melt(data, data.columns[0:7], var_name="week", value_name="ranking").dropna()
tmp = data_melt["week"].str.extract("(\d+)", expand=False)
data_melt["week"] = tmp

del(tmp)
data_melt.head()

,year,artist.inverted,track,time,genre,date.entered,date.peaked,week,ranking
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,1,78.0
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,1,15.0
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,1,71.0
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,1,41.0
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,1,57.0

## Paso 3. Visualizar los datos

Usando la herramienta de plotting de tu elección, generá visualizaciones que permitan seguir profundizando en el análisis exploratorio de tus datos. No hay un máximo o mínimo de gráficos. Lo que sí es requisito es que haya una lógica y un sentido en la generación de los mismos: tiene que generarse una "historia" clara a partir de los mismos. También deberías en este punto realizar un análisis preliminar de los datos: forma de la distribución, estadísticos y relaciones entre las variables

In [49]:
print(data_melt.groupby(["genre"])["ranking"].describe())
print(data_melt.groupby(["artist.inverted"])["ranking"].describe())

              count       mean        std   min   25%   50%    75%    max
genre
Country      1200.0  61.687500  21.874306   1.0  45.0  61.0  80.00  100.0
Electronica    72.0  62.847222  30.672123   6.0  35.5  76.0  92.00   98.0
Gospel         20.0  67.750000   8.103768  57.0  61.0  67.0  71.75   89.0
Jazz            5.0  51.800000  41.517466   7.0   8.0  66.0  89.00   89.0
Latin         173.0  47.653179  28.214213   1.0  23.0  46.0  74.00  100.0
Pop           137.0  54.963504  28.990467   5.0  30.0  53.0  80.00  100.0
R&B           261.0  67.632184  21.305713  14.0  54.0  69.0  86.00  100.0
Rap           837.0  56.236559  29.581191   2.0  30.0  57.0  84.00  100.0
Reggae         15.0  72.400000  13.059206  54.0  62.5  72.0  84.00   95.0
Rock         2587.0  42.206803  29.439376   1.0  16.0  36.0  68.00  100.0
artist.inverted
2 Pac                   85.428571
2Ge+her                 90.000000
3 Doors Down            37.602740
504 Boyz                56.222222
98Ḃ                     37.650000
A*Teens                 97.000000
Aaliyah                 30.269231
Adams, Yolanda          67.750000
Adkins, Trace           76.272727
Aguilera, Christina     21.089552
Alice Deejay            51.250000
Allan, Gary             80.600000
Amber                   80.275862
Anastacia               94.666667
Anthony, Marc           46.000000
Avant                   40.100000
BBMak                   30.645161
Backstreet Boys, The    34.474576
Badu, Erkyah            32.350000
Baha Men                62.500000
Barenaked Ladies        33.952381
Beenie Man              72.400000
Before Dark             87.555556
Bega, Lou               78.666667
Big Punisher            85.533333
Black Rob               62.941176
Black, Clint            65.000000
Blaque                  21.586207
Blige, Mary J.          78.250000
Blink-182               33.304348
                          ...
Strait, George          52.700000
Sugar Ray               58.450000
TLC                     63.285714
Tamar                   93.666667
Tamia                   89.000000
Third Eye Blind         44.911765
Thomas, Carl            58.627451
Tippin, Aaron           66.950000
Train                   36.925926
Trick Daddy             90.090909
Trina                   96.500000
Tritt, Travis           47.818182
Tuesday                 98.000000
Urban, Keith            72.000000
Usher                   69.428571
Vassar, Phil            61.589744
Vertical Horizon        26.709677
Vitamin C               60.000000
Walker, Clay            72.967742
Wallflowers, The        81.000000
Westlife                43.350000
Williams, Robbie        75.421053
Wills, Mark             59.833333
Worley, Darryl          85.533333
Wright, Chely           77.300000
Yankee Grey             83.125000
Yearwood, Trisha        84.166667
Ying Yang Twins         88.857143
Zombie Nation           99.000000
matchbox twenty         18.641026
Name: mean, Length: 228, dtype: float64

## Paso 4. Planteo del problema

Ya tenés hecho el análisis exploratorio del dataset. Ahora es necesario realizar una formulación clara del problema que se va a abordar. Podés incorporar datos externos al dataset, si resultan necesarios para la resolución del problema formulado -solamente, acordate de poner un link a los mismos-. La creatividad es fundamental en este paso.

## Paso 5. Brainstorming para abordar el problema

En forma de listado, comenzá a pensar cuáles serían las formas en que podrías abordar el problema planteado más arriba. No tiene que ser necesariamente un código. Más bien, la idea es idear diferentes estrategias para aprovechar al máximo los datos disponibles en función del problema.

## Paso 6. Crear un reporte con los hallazgos, el código y las visualizaciones

Creá un reporte que describa cada uno de los seis pasos previos. Imaginá que estás describiendo tus datos, visualizaciones, problemas, hallazgos y conclusiones con tus pares. Deberá tener al menos 500 palabras. Y deberá contener el código utilizado para generar las visualizaciones, las pruebas estadísticas realizadas -y cualquier otro método que hayas utilizado- y el análisis e interpretación de los resultados- propiamente dicho.

## BONUS: El mismo programa para el que trabajaste te solicita escribir un white paper de al menos 500 palabras sobre el tema "cómo lidiar con la limpieza de los datos". El objetivo es que constituya una presentación para exponer ante una audiencia amplia, así que va a ser necesario incluir casos reales como ejemplos para sustentar tus planteos.

Pista: para empezar hacé una primera búsqueda en internet de artículos, blogposts, papers, videos, etc. En fin... todo lo que  te sirva para entender los desafíos que implica trabajar con datos. Este white paper debería constituir una reflexión original y personal acerca de lo aprendido en esta semana.