## Laboratorio Arreglos y Matrices


Ejecuta la celda de abajo para cargar los paquetes requeridos

In [1]:
import numpy as np
import pandas as pd

### Datos de ventas

Para este lab vamos a estar usando una versión de datos de ventas de vinos en diferentes sucursales (archivo ```volumen_ventas_producto_sucursal.csv```) y el precio de cada vino (```precio_producto.csv```)

#### Importar Ventas

In [11]:
ven_suc = pd.read_csv("volumen_ventas_producto_sucursal.csv")
ven_suc

,producto,Sucursal 1,Sucursal 2,Sucursal 3,Sucursal 4,Sucursal 5,Sucursal 6,Sucursal 7
0,Malbec,429,106,437,177,200,412,309
1,Cabernet,244,111,282,238,144,198,331
2,Syrah,374,278,241,408,177,381,237
3,Caberne Franc,449,291,461,484,452,388,466
4,Merlot,222,494,436,252,161,187,337
5,Pinot noir,335,137,233,487,394,488,331

#### Importar precios

In [15]:
pre_pro = pd.read_csv("precio_producto.csv")
pre_pro

        producto  Precio
0         Malbec     208
1       Cabernet     216
2          Syrah     247
3  Caberne Franc     180
4         Merlot     180
5     Pinot noir     243

#### 1. Calcular la cantidad de unidades vendidas para cada sucursal

Utilizar la matriz_ventas y funciones de numpy
Primero transformar el dataframe de pandas en un array con las funciones iloc y values

In [55]:
ven_suc_arr = ven_suc.iloc[:,1:].values
pro_nom_arr = ven_suc.iloc[:,0:1].values
pre_pro_arr = pre_pro.iloc[:,1:].values

(6, 1)

#### 2. Calcular la cantidad de unidades vendidas para cada producto

Utilizar la matriz_ventas y funciones de numpy

In [53]:
ven_pro = np.sum(ven_suc_arr, axis=1)

(6,)

#### 3. Calcular cuál es el producto que más vendió cada sucursal
Tip: usar np.argmax

In [34]:
pro_nom_arr[np.argmax(ven_suc_arr,axis=0)]

array([['Caberne Franc'],
       ['Merlot'],
       ['Caberne Franc'],
       ['Pinot noir'],
       ['Caberne Franc'],
       ['Pinot noir'],
       ['Caberne Franc']], dtype=object)

#### 4. Calcular cuál es la sucursal que más vendió cada producto
Tip: usar np.argmax

In [65]:
[str(y[0]) + " sucursal " + str(x + 1) for x, y in zip(np.argmax(ven_suc_arr,axis=1), pro_nom_arr)]

['Malbec sucursal 3',
 'Cabernet sucursal 7',
 'Syrah sucursal 4',
 'Caberne Franc sucursal 4',
 'Merlot sucursal 2',
 'Pinot noir sucursal 6']

#### 5. Calcular la facturación para cada sucursal

Utilizando multiplicación matricial (matriz_ventas, matriz_precios) obtener la facturación para cada sucursal (es decir la sumatoria de cantidad vendidada * precio para cada producto).

Nota: Se deberá utilizar la función matriz.transpose() para poder realizar la multiplicación matricial, dado que dos matrices A de forma (p,q) y B de forma (r,s) solo se puede multplicar si q=r

In [58]:
ven_suc_arr.transpose().dot(pre_pro_arr)

array([[436499],
       [289281],
       [429414],
       [439821],
       [322505],
       [444655],
       [419280]])