## Manejo del tiempo en Pandas

### Timestamps

In [3]:
import pandas as pd

In [4]:
pd.Timestamp('2017-09-01 10:05:00')

Timestamp('2017-09-01 10:05:00')

In [5]:
pd.Timestamp('9/1/2017 10:05AM')

Timestamp('2017-09-01 10:05:00')

In [6]:
pd.to_datetime('20170901 100500', format='%Y%m%d %H%M%S')

Timestamp('2017-09-01 10:05:00')

In [7]:
pd.Timestamp('2016-12-01T20:00:00.000Z')

Timestamp('2016-12-01 20:00:00+0000', tz='UTC')

### Period

In [8]:
pd.Period('1/2016')

Period('2016-01', 'M')

In [9]:
pd.Period('3/5/2016')

Period('2016-03-05', 'D')

### Datetimeindex

In [10]:
t1 = pd.Series(list('abc'), [pd.Timestamp('2016-09-01'), pd.Timestamp('2016-09-02'), pd.Timestamp('2016-09-03')])
t1

2016-09-01    a
2016-09-02    b
2016-09-03    c
dtype: object

In [11]:
type(t1.index)

pandas.core.indexes.datetimes.DatetimeIndex

### Convirtiendo a DateTime

In [12]:
import numpy as np
d1 = ['2 June 2013', 'Aug 29, 2014', '2015-06-26', '7/12/16']
ts3 = pd.DataFrame(np.random.randint(10, 100, (4,2)), index=d1, columns=list('ab'))
ts3

               a   b
2 June 2013   37  78
Aug 29, 2014  95  48
2015-06-26    47  66
7/12/16       46  42

In [13]:
type(ts3.index)

pandas.core.indexes.base.Index

In [14]:
ts3.index = pd.to_datetime(ts3.index)
type(ts3.index)

pandas.core.indexes.datetimes.DatetimeIndex

### TimeDeltas

In [15]:
pd.Timestamp('9/3/2016')-pd.Timestamp('9/1/2016')

Timedelta('2 days 00:00:00')

In [16]:
pd.Timestamp('9/2/2016 8:10AM') + pd.Timedelta('12D 3H')

Timestamp('2016-09-14 11:10:00')

### Fechas en DataFrames

In [17]:
dates = pd.date_range('2017-04-06', periods=4, freq='2W-THU')
dates

DatetimeIndex(['2017-04-06', '2017-04-20', '2017-05-04', '2017-05-18'], dtype='datetime64[ns]', freq='2W-THU')

In [18]:
df = pd.DataFrame({'Count 1': 100 + np.random.randint(-5, 10, 4).cumsum(),
                  'Count 2': 120 + np.random.randint(-5, 10, 4)}, index=dates)
df

            Count 1  Count 2
2017-04-06      103      119
2017-04-20      104      117
2017-05-04      102      115
2017-05-18      110      127

In [19]:
df.index.weekday_name

Index(['Thursday', 'Thursday', 'Thursday', 'Thursday'], dtype='object')

In [20]:
df.diff()

            Count 1  Count 2
2017-04-06      NaN      NaN
2017-04-20      1.0     -2.0
2017-05-04     -2.0     -2.0
2017-05-18      8.0     12.0

In [21]:
df['2017-04']

            Count 1  Count 2
2017-04-06      103      119
2017-04-20      104      117